
{% extends 'base.html' %}



{% block title %}inicio{% endblock %}

{% block content %} <br> 
{% include 'escudo.html' %}  


                <div class="container-sm text-center">
                    <div class="card-header"  style="background-color: rgb(199, 0, 0);">
                        <h1 class="display-3" style="color: #ffffff; font-style: italic;">UNIVERSIDAD LIBRE</h1>

                    </div>
                    <p class="lead"> "¡Sigan adelante, su esfuerzo hoy define el éxito de mañana!" 🚀.</p>

                    <hr classs="my-4">

                    <p>Tienes una cuenta?</p>
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="{{url_for('login')}}" class="btn btn-primary mx-2">iniciar sesion</a>
                        <a href="{{url_for('register')}}" class="btn btn-secondary mx-2">Registrarse</a>

                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br> {% include 'footer.html' %} 
                
                      
{% endblock %}
<br><br><br>



