{% extends 'base.html' %}



{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header"  style="background-color: rgb(56, 150, 212);">
                        <h1 class="text-center">{% block title %}registrar usuario{% endblock %}</h1>
                    </div>
                    <div class="card-body">
                        <form action="/templates/register.html" method='POST'>
                            <div class="form-group">
                                <label for="user">Nombre de Usuario </label>
                                <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" name="username" required minlength="4" maxlength="20">
                            </div>
                            <div class="form-group">
                                <label for="user">Contraseña </label>
                                <input type="text" class="form-control" id="password" placeholder="Ingrese su Contraseña" name="password" required minlength="6" maxlength="60">
                            </div>
                            <br>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Registrar Usuario" onclick="guardar()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br> {% include 'footer.html' %} 
    
{% endblock %}
